<div class="page-header">
  <h1>Ejemplo de la modal</h1>
</div>
<p class="lead"> Tenemos un ejemplo de como crear una ventana modal.
</p>

<button type="button"  class="btn btn-primary btn-lg" (click)="abrirModal()">
    Cargar la venta modal alert.
</button>

<button type="button"  class="btn btn-primary btn-lg" (click)="abrirConfirmar()">
    Cargar la venta modal confirmar.
</button>
<button type="button"  class="btn btn-primary btn-lg" (click)="abrirComponente()">
    Cargar la venta modal componente.
</button>

<button type="button"  class="btn btn-primary btn-lg" (click)="abrirComponenteComplejo()">
    Cargar la venta modal componente complejo.
</button>


<!-- Modal
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Titulo de ventana modal</h4>
      </div>
      <div class="modal-body">
        El cuerpo de la ventana modal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="procesarOk()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade in"></div>
-->
